.main {
  margin: auto;
  background-color: $main-bg;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.main__header {
  border-left: 4px solid $active-border-color;
  height: 40px;
  padding-left: 20px;
  font-size: 28px;
}

.main__icons {
  display: none;
}

.main__row {
  display: flex;
  margin: 20px;
  overflow: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main__button {
  min-width: 246px;
  height: 40px;
  color: $main-button-color;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  display: block;
  border: none;
  background-color: $main-bg;
  margin: 0px 10px;
  &:hover {
    background-color: $second-bg;
    border: 2px solid $border-hover;
    border-radius: 6px;
  }
}

.main__text {
  font-size: 14px;
  line-height: 18px;
  color: $main-text-color;
  margin-left: 20px;
  font-weight: 400;
  max-height: 90px;
  overflow: hidden;
}

.main__text--hidden {
  display: none;
}

.main__img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .main__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main__textPart {
    width: 50%;
  }

  .main__imgPart {
    width: 50%;
  }

  .main__text {
    line-height: 20px;
    max-height: 157px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1350px) {
  .main {
    padding-top: 30px;
  }
  .main__wrapLarge {
    display: flex;
    justify-content: space-between;
  }

  .main__icons {
    display: flex;
    align-items: center;
  }

  .main__iconText {
    font-size: 16;
    font-weight: 600;
    margin-left: 20px;
  }
  .main__text {
    max-height: 100%;
    padding-top: 20px;
  }
  .main__row {
    overflow: visible;
    flex-wrap: wrap;
  }

  .main__button {
    min-width: auto;
    padding: 10px 15px;
  }
}
.expand {
  height: 24px;
  display: flex;
  margin: 5px 20px 5px 20px;
}

.expand__link {
  color: $main-text-color;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 600;
  padding-left: 5px;
}
