@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakesCompressed-Medium.eot');
  src: local('TT Lakes'), local('TTLakes'),
    url('../fonts/TTLakesCompressed-Medium.woff') format('woff'),
    url('../fonts/TTLakesCompressed-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes'), local('TTLakes'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-DemiBold.eot');
  src: local('TT Lakes'), local('TTLakes'),
    url('../fonts/TTLakes-DemiBold.woff') format('woff'),
    url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('TT Lakes'), local('TTLakes'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import 'vars';
@import 'header';
@import 'main';
@import 'service';
@import 'price';
@import 'footer';
@import 'menu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
}

.container {
  font-family: 'TT Lakes';
  margin: 0px auto;
  overflow: scroll;
  width: auto;
  max-width: 1440px;
}

.left {
  display: none;
}

@media screen and (min-width: 1350px) {
  .container {
    display: flex;
  }
  .left {
    display: block;
  }
}
